body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 700px;
    width: 100%;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #e0e0e0;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.language-selector img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.language-selector label,
.radio-buttons label {
    margin-right: 8px;
    font-size: 14px;
    color: #4a4a4a;
}

.language-selector select {
    padding: 5px;
    font-size: 14px;
}

h1 {
    color: #2C3E50;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}
/* ------- From Step 2 ------- */

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  /*   top: 10px; */
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}
/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* ------------------------ */

/* default boilerplate to center input */


p {
    color: #666;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
}

a {
    color: #1a73e8;
    text-decoration: none;
}
.form-group {
    margin-bottom: 15px;
}
/* Form alanlarıyla uyumlu olacak şekilde tarih girişi için stil */
#dateQuestions input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 15px; /* Diğer elemanlarla uyumlu olması için margin ekledim */
    transition: border 0.3s ease;
}
#timeQuestion input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 15px; /* Diğer elemanlarla uyumlu olması için margin ekledim */
    transition: border 0.3s ease;
}


#incidentDuration input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: #666;
    box-sizing: border-box;
    margin-bottom: 15px; /* Diğer elemanlarla uyumlu olması için margin ekledim */
    transition: border 0.3s ease;
}


/* Tarih girişi alanındaki placeholder'ı özelleştirmek için */
#dateQuestions input[type="date"]::placeholder {
    font-family: 'Arial', sans-serif; /* Fontu Arial olarak ayarladık */
    font-size: 13px; /* Font boyutunu ayarladık */
    color: #999; /* Yazı rengini gri yapıyoruz */
    font-style: italic; /* İtalik yapıyoruz */
}

#dateQuestions input[type="date"]:focus {
    border-color: #1a73e8;
    outline: none;
}


/* Radyo butonları ve etiketler arasındaki hizalamayı ayarla */
.radio-buttons {
    display: block;
    align-items: center; /* Butonları ve etiketleri hizalar */
    margin-bottom: 10px;
    justify-content: flex-start; /* Evet ve Hayır'ı sola hizalar */
}

/* Radyo butonları arasındaki boşluğu azalt */
.radio-buttons input[type="radio"] {
    margin-bottom: 5px;  /* Butonlar arasındaki boşluğu artır */
    margin-right: 5px;  /* Etiket ile buton arasındaki boşluk */
}

/* Etiketlerin hizalanmasını sağlamak */
.radio-buttons label {
    margin-right: 8px; /* Etiketler arasındaki boşluğu artırma */
    font-size: 14px;     /* Font boyutunu belirliyoruz */
    color: #4a4a4a;      /* Etiketlerin rengini belirliyoruz */
}


/* Genel label stilini ayarlamak */
label {
    margin-bottom: 5px;  /* Etiketler ile öğe arasındaki mesafeyi artır */
    font-size: 14px;     /* Font boyutunu belirliyoruz */
    color: #4a4a4a;      /* Etiketlerin rengini belirliyoruz */
}

/* 'attachment' label'ı için özel stil */
label[for="attachment"] {
    margin-bottom: 10px; /* 'attachment' etiketi için biraz daha fazla boşluk */
    font-size: 14px;     /* Daha büyük bir font boyutu */
    color: #4a4a4a;      /* Etiketlerin rengini belirliyoruz */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,

textarea:focus {
    border-color: #1a73e8;
    outline: none;
}

textarea {
    height: 200px;
    resize: none;
    font-size: 16px;
}

#issueDetails {
    width: 100%;
    height: 200px; /* Boyutunu istediğiniz şekilde ayarlayabilirsiniz */
    resize: none; /* Kullanıcının boyutunu değiştirememesi için */
}

button {
    padding: 12px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #155bb5;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

#warning {
    color: red;
    margin-top: 20px;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faq-container {
    margin-top: 50px;
    margin-left: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 250px; /* Genişliği artırdım */
    width: 250px; /* Genişliği artırdım */
}

.faq {
    width: 100%;
}

#successMessage {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

#homeButton {
    margin-top: 10px; /* Mesajla buton arasına 10px boşluk ekler */
}


.faq-question {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 13px; /* Added font size */
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.faq-answer {
    display: none;
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px; /* Added font size */
}

.faq-question:focus + .faq-answer {
    display: block;
}

.faq-question:focus {
    outline: none;
}

/* Select öğesinin stilini düzelten kod */
select {
    width: 100%;
    padding: 10px;
    font-size: 14px; /* Font boyutunu belirle */
    color: #4a4a4a; /* Yazı rengini belirle */
    background-color: #fff; /* Arka plan rengi */
    border: 1px solid #ccc; /* Sınır rengi */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Placeholder'lar için özel stil */
select:focus {
    border-color: #1a73e8; /* Focus olduğunda sınır rengini mavi yapıyoruz */
    outline: none;  /* Outline'ı kaldırıyoruz */
}

/* "Seçiniz" metni için daha fazla özelleştirme */
select option:disabled {
    color: #aaa;  /* Seçiniz metnini gri yapıyoruz */
    font-style: italic;  /* İtalik yapıyoruz */
}



.language-icon {
    cursor: pointer;
    width: 4px;
    height: 4px;
    border-radius: 50%; /* Yuvarlak yapmak için */
    object-fit: cover; /* Bayrağın düzgün şekilde görünmesi için */
}

.language-icon img {
    width: 7%;
    height: 7%;
    border-radius: 50%; /* Yuvarlak yapmak için */
    text-align: center;
}

.flag-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 -3px; /* Bayraklar arasındaki boşluğu küçültüyoruz */
}
.info-icon {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

.info-icon::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    top: 20px;
    left: 0;
    z-index: 1000;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-icon:hover::after {
    display: block;
}

#employeeNameContainer {
    display: none !important;  /* Başlangıçta gizle */
    visibility: hidden !important;
}

#employeeNameContainer:not(.hidden) {
    display: block !important;  /* Görünür yap */
    visibility: visible !important;
    opacity: 1 !important;
}
/* 'Bir Olay Bildirin' ve 'Olay Sorgulama' butonlarını yan yana ve küçük tutmak için */
#reportBtn, #queryBtn {
    padding: 10px 20px; /* Butonun boyutunu küçültmek için padding azaltıldı */
    background-color: #0056b3; /* Özel mavi renk */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px; /* Font boyutunu küçültüyoruz */
    font-weight: bold;
    cursor: pointer;
    width: auto; /* Buton genişliğini otomatik ayarlıyoruz */
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Butonlar arasına boşluk eklemek için */
}

#reportBtn:hover, #queryBtn:hover {
    background-color: #003e7e; /* Hover durumunda daha koyu mavi */
    transform: translateY(-2px); /* Hover efekti ile butonu yukarı kaydır */
}

#reportBtn:active, #queryBtn:active {
    transform: translateY(0); /* Buton tıklanınca geri gelmesini sağlar */
}

/* Butonların yan yana yerleşmesini sağlamak */
button {
    display: inline-block; /* Butonları yan yana yerleştir */
}


/* Alternatif buton (diğer butonlar) için mevcut stil */
button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #155bb5;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container {
        width: 90%;
        max-width: none;
        margin: 10px;
        box-shadow: none;
    }

    .faq-container {
        width: 90%;
        max-width: none;
        margin: 20px 0;
    }

 

    #loading {
        width: 100%;
        top: 50%;
        left: 0;
        background: transparent;
        transform: translate(0, -50%);
    }
}

textarea::placeholder,
input::placeholder {
    font-family: 'Arial', Arial, monospace; /* Burada placeholder için kullanılacak fontu belirleyin */
    font-size: 14px; /* Font boyutunu ayarlayın */
    line-height: 20px;
    font-style: italic;
}
